<form method="post" action="{{ path('app_status_delete', {'id': status.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ status.id) }}">
    <button class="btn">Supprimer</button>
</form>
