body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  cursor: pointer;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table.visibiliyMobile {
  display: table;
  margin: 0 auto;
}

table.visibiliyDesktop {
  display: none;
}

@media (min-width: 768px) {
  table.visibiliyMobile {
    display: none;
  }
  table.visibiliyDesktop {
    display: table;
    width: 768px;
    margin: 0 auto;
  }
}
.header__title {
  height: 50px;
  width: 100%;
  background-color: rgb(40, 41, 49);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title__text {
  color: white;
}
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 4%;
}
.header__content__img {
  height: 100px;
}
.header__content__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.header__content__nav__link {
  font-size: 18px;
}
.header__content__buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(40, 41, 49);
}
.footer__img {
  height: 110px;
}

.form {
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  border: 1.5px solid rgb(49, 83, 151);
  border-radius: 20px 5px 20px 20px;
}
.form__title {
  text-align: center;
}
.form__content__label {
  display: block;
  margin-bottom: 9px;
  font-weight: bold;
}
.form__content__input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.button {
  width: 200px;
  height: 31px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.button--empty {
  border: 1.5px solid rgb(49, 83, 151);
  background-color: white;
  color: rgb(49, 83, 151);
}
.button--plain {
  background-color: rgb(49, 83, 151);
  border: 0.5px solid rgb(49, 83, 151);
  color: white;
}
.button--small {
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 8px;
}
.button--small:hover {
  background-color: initial;
}
.button:hover {
  border: 1.5px solid black;
  background-color: black;
  color: white;
  transition: 0.2s;
}

.previousButton {
  position: sticky;
  top: 20px;
  left: 20px;
}

.ticket {
  border: 1px solid black;
  border-radius: 20px 5px 20px 20px;
  width: 150px;
  height: 100px;
  transition: 0.3s ease-out;
  margin-bottom: 50px;
  overflow: hidden;
}
.ticket:hover {
  box-shadow: rgb(49, 83, 151) -3px 3px 10px;
}
.ticket__icons {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 15px;
  padding-right: 5px;
}
.ticket__icons--pencil {
  width: 12px;
}
.ticket__icons--trash {
  width: 12px;
}
.ticket__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.ticket__title {
  text-align: center;
}
.ticket__owner {
  text-align: center;
}
.ticket__description {
  transition: 0.3s ease-out;
  visibility: hidden;
  background-color: rgb(40, 41, 49);
  border-radius: 0 0 19px 19px;
  width: 142px;
  height: 100px;
  max-height: 100px;
  align-self: bottom;
  margin-bottom: 0;
  color: white;
  padding: 4px;
  text-align: justify;
  font-size: 13px;
}

.showTicket {
  width: 80%;
  border-radius: 20px 5px 20px 20px;
  border: 2px solid rgb(49, 83, 151);
  padding: 0 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(49, 83, 151) -3px 3px 10px;
}
.showTicket__infos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  border-radius: 17px 2px 0 0;
  margin: 0;
  background-color: rgb(49, 83, 151);
  color: white;
  padding: 0 5%;
}
.showTicket__infos__status {
  display: flex;
  align-items: center;
  gap: 10px;
}
.showTicket__img {
  width: 85%;
  -o-object-fit: cover;
     object-fit: cover;
}
.showTicket__description {
  width: 95%;
}
.showTicket__buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px 0 40px 0;
}

.status1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(202, 0, 0);
}

.status2 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(216, 158, 0);
}

.status3 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(8, 233, 0);
}

.ticketHome {
  display: flex;
  flex-direction: column-reverse;
  border: 2px solid rgb(49, 83, 151);
  border-radius: 20px 5px 20px 20px;
  width: 90%;
  margin-bottom: 50px;
}
.ticketHome__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.ticketHome__container__header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  border-radius: 17px 3px 0 0;
  margin: 0;
  background-color: rgb(49, 83, 151);
  color: white;
  padding: 0 5%;
}
.ticketHome__container__header__firstName {
  margin: 10px;
}
.ticketHome__container__header__helper {
  display: flex;
}
.ticketHome__container__body {
  display: flex;
}
.ticketHome__container__body__image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 40%;
  padding: 20px;
}
.ticketHome__container__body__description {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ticketHome__container__body__description__title {
  font-size: 30px;
  text-align: center;
}
.ticketHome__container__body__description__p {
  margin-bottom: 50px;
}
.ticketHome__container__body__description a {
  margin: 0 auto;
}

.homeCircle {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
  margin-right: 10px;
}

.homeCircleRed {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  margin-right: 10px;
}
.homeCircleRed__title {
  color: white;
}

.containerHome {
  display: flex;
}
.containerHome__title {
  text-align: center;
  color: rgb(49, 83, 151);
}

.container {
  flex: 1;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
}
.container__ticket {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
}
.container__ticket__new {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container__connecte {
  position: sticky;
  width: 250px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px 0 0 0;
}
.container__connecte__title {
  text-align: center;
}
.container__connecte__card {
  display: flex;
  margin: 8px;
}
.container__connecte__card__icon {
  border-radius: 50%;
  width: 20%;
}
.container__connecte__card__firstname {
  padding-left: 8px;
  width: 70%;
}

h2 {
  margin-bottom: 35px;
}

h3 {
  padding: 0;
}

.cardAccount {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2.5px solid rgb(49, 83, 151);
  border-radius: 20px 5px 20px 20px;
  padding: 0px 60px 20px 60px;
  box-shadow: rgb(49, 83, 151) -3px 3px 15px;
}
.cardAccount__content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 50px;
  margin-bottom: 40px;
}
.cardAccount__content__icon {
  border-radius: 50%;
  width: 130px;
}
.cardAccount__modifyButton {
  align-self: center;
}

.myTickets {
  width: 100%;
  margin: 0;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myTickets__title {
  margin: 0;
  width: 100%;
  margin-bottom: 50px;
  background-color: rgb(49, 83, 151);
  padding: 25px 0;
  text-align: center;
  color: white;
}
.myTickets__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.myOldTickets {
  width: 100%;
  margin: 0;
}
.myOldTickets__title {
  margin: 0;
  width: 100%;
  margin-bottom: 50px;
  background-color: rgb(40, 41, 49);
  padding: 25px 0;
  text-align: center;
  color: white;
}

.admin h2 {
  text-align: center;
  width: 100%;
}
.admin .button {
  margin-bottom: 20px;
}
.admin__promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.admin__cardPromo {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2.5px solid rgb(49, 83, 151);
  border-radius: 20px 5px 20px 20px;
  padding: 0px 20px;
  box-shadow: rgb(49, 83, 151) -3px 3px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 50px;
}
.admin__user {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.admin__cardUser {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2.5px solid rgb(49, 83, 151);
  border-radius: 20px 5px 20px 20px;
  padding: 0px 20px;
  box-shadow: rgb(49, 83, 151) -3px 3px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 50px;
}
.admin .table {
  max-width: 768px;
  margin: 0 auto;
}
.admin table {
  width: 100%;
  border-collapse: collapse;
}
.admin table tr:nth-child(even) th {
  background-color: #F6F8FA;
}
.admin table tr:nth-child(even) td {
  background-color: #F6F8FA;
}/*# sourceMappingURL=main.css.map */