@use '../utils/_variables' as *

body
  margin: 0

a
  text-decoration: none
  color: black
  &:hover
    cursor: pointer

.pageContainer
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.visibiliyMobile
  display: block
  margin: 0 auto

.visibiliyDesktop
  display: none

@media (min-width: 768px)
  .visibiliyMobile
    display: none  

  .visibiliyDesktop
    display: block
    width: 768px
    margin: 0 auto