{% extends 'base.html.twig' %}

{% block title %}Accès Interdit{% endblock %}

{% block body %}
	<div class="home">
		<h2 class="home__title">Accès Interdit</h2>
		<div class="container center">
            <img src="{{asset('icons/interdit.png')}}" alt="{{asset('icons/interdit.png')}}">
		</div>
	</div>
{% endblock %}
