@use '../utils/_variables' as *

.containerHome
  display: flex
  &__title
    text-align: center
    color: $primaryColor

.container
  flex: 1
  margin-top: 20px
  &__ticket
    width: 100%
    box-sizing: border-box
    padding: 20px
    margin: 0 auto
    &__new
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
  &__inResolved
  width: 100%
  box-sizing: border-box
  padding: 20px
  margin: 0 auto
  &__connecte
    position: sticky
    width: 250px
    margin-top: 20px
    padding: 20px
    border: 1px solid black
    border-radius: 10px 0 0 0
    &__title
      text-align: center
    &__card
      display: flex
      margin: 8px
      &__icon
        border-radius: 50%
        width: 20%
      &__firstname
        padding-left: 8px
        width: 70%
    
