@use '../utils/_variables' as * 

.cardAccount
    margin-bottom: 50px
    display: flex
    flex-direction: column
    align-items: center
    &__content
        display: flex
        flex-direction: row
        justify-content: start
        align-items: center
        gap: 30px
        margin-bottom: 40px
        &__icon
            border-radius: 50%
            width: 100px
    &__modifyButton
        align-self: center
            
.myTickets
    margin-bottom: 50px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &__container
        display: flex
        flex-direction: row
        flex-wrap: wrap
        gap: 30px
