{% extends 'base.html.twig' %}

{% block title %}Nouvelle Promotion{% endblock %}

{% block body %}
    <h2>Créer une nouvelle promotion</h2>

    {{ include('promotion/_form.html.twig') }}

    <a href="{{ path('app_promotion_index') }}">Retour à la liste</a>
{% endblock %}
