@use '../utils/_variables' as *

.ticket
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    border: 1px solid black
    border-radius: 20px 5px 20px 20px 
    width: 150px
    height: 100px
    transition: 0.3s ease-out
    margin-bottom: 50px
    overflow: hidden
    &__title
    &__owner
    &__description
        transition: 0.3s ease-out
        visibility: hidden
        background-color: rgb(40, 41, 49)
        border-radius: 0 0 19px 19px
        width: 142px
        height: 100px
        max-height: 100px
        align-self: bottom
        margin-bottom: 0
        color: white
        padding: 4px
        text-align: justify
        font-size: 13px
